:root {
	--zinc-50: #FAFAFA;
	--zinc-200: #E4E4E7;
	--zinc-300: #D4D4D8;
	--zinc-900: #18181B;
}

@font-face {
    font-family: 'chaneyregular';
    src: url('./fonts/chaney-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
	margin: 0;
  }
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
	html {
	  interpolate-size: allow-keywords;
	}
  }
  body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
	background-color: var(--zinc-50);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--zinc-900);
  }
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
  }
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
	font: inherit;
  }
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
  }
  /* 9. Improve line wrapping */
  p {
	text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
  }
  /*
	10. Create a root stacking context
  */
  #root, #__next {
	isolation: isolate;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "chaneyregular", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 2rem;
	line-height: 2.5rem;
}

h2 {
	font-size: 1.5rem;
	line-height: 2rem;
}

.site-header,
.site-content {
	padding: 0 32px;
}

.container,
.container--narrow {
	width: 100%;
	margin-inline: auto;
}

.container {
	max-width: 1216px;
}
.container--narrow {
	max-width: 1008px;
}

.site-header__icon {
	margin-block: 1.5rem;
}
.site-header__title {
	margin-block: 4rem;
}

.projects-grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	gap: 32px 2rem;
	list-style: none;
	margin-block: 4rem 8rem;
	margin-inline: 0;
	padding: 0;
}
.project-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	aspect-ratio: 1;
	position: relative;
	border-radius: 8px;
	overflow: hidden;
	border: 1px solid var(--zinc-200);
}
.project-item__media {
	position: absolute;
	width: 100%;
	height: 100%;
}
.project-item__media::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--zinc-900);
	opacity: 0;
	-webkit-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
	-o-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item__media img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.project-item__description {
	position: relative;
	text-align: center;
	color: var(--zinc-50);
	visibility: hidden;
	opacity: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 1rem;
	padding-inline: 16px;
	-webkit-transition: visibility 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
	-o-transition: visibility 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: visibility 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item__link {
	color: #fff;
	text-decoration: none;
	font-size: 1rem;
	line-height: 1.5rem;
	border: 1px solid var(--zinc-50);
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	padding-inline: 16px;
	padding-block: .5rem;
}
.project-item__link:hover,
.project-item__link:focus {
	background-color: var(--zinc-200);
	color: var(--zinc-900);
}

.project-item:hover .project-item__media::before {
	opacity: .6;
}

.project-item:hover .project-item__description {
	visibility: visible;
	opacity: 1;
}

@media (width > 760px) {
	.projects-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (width > 960px) {
	h1 {
		font-size: 3rem;
		line-height: 3.5rem;
	}
	h2 {
		font-size: 1.5rem;
		line-height: 2rem;
	}
	.site-header__title {
		margin-block: 8rem;
	}
	.projects-grid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		margin-block: 8rem 16rem;
	}
}